<nav class="navbar navbar-expand-md" style="background-color: black;">
  <div class="container-fluid">
    <!-- logo  -->
    <img src="./assets/imgGallery/logo.png" alt="logo" width="120px" height="65px" />
    <a class="navbar-brand" (click)="navigateTo('/home')"></a>
    <!-- Toggle button for mobile -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <!-- Navbar Links -->
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" (click)="navigateTo('/home')">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="navigateTo('/about')">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="navigateTo('/products')">Store</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" (click)="navigateTo('/cart')">Cart</a>
        </li> -->
        <li class="nav-item">
          <a class="nav-link " (click)="navigateTo('/category')">Category</a>
        </li>
      </ul>
    </div>
    <!-- Login Button, cart, credit -->
    <div class="svgIcon">
      <button class="btn btn-outline-warning" type="button" (click)="navigateTo('/login')">Join Now</button>

      <!-- Shopping Cart Button -->
        <button class="btn btn-outline-warning cart-icon" type="button" (click)="navigateTo('/cart')">
          <ng-container *ngIf="useIcon; else cartIconTemplate">
            <i class="fas fa-shopping-cart" style="color: goldenrod;"></i>
            <span *ngIf="cartItemCount > 0" class="badge rounded-badge">{{ cartItemCount }}</span>
          </ng-container>
          <ng-template #cartIconTemplate>
            <svg class="svg-inline--fa fa-cart-shopping" style="color: goldenrod; font-size: 30px;" aria-hidden="true"
              focusable="false" data-prefix="fas" data-icon="cart-shopping" role="img" xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 576 512">
            </svg>
            <span *ngIf="cartItemCount > 0" class="badge rounded-badge">{{ cartItemCount }}</span>
          </ng-template>
        </button>

        <!-- Credit Card Button -->
        <button class="btn btn-outline-warning" type="button" (click)="navigate()">
          <ng-container *ngIf="useIcon; else creditCardTemplate">
            <i class="fa fa-credit-card" style="color: goldenrod;"></i>
          </ng-container>
          <ng-template #creditCardTemplate>
            <svg class="svg-inline--fa fa-credit-card" style="color: goldenrod; font-size: 30px;" aria-hidden="true"
              focusable="false" data-prefix="fas" data-icon="credit-card" role="img" xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 576 512">
            </svg>
          </ng-template>
        </button>

      

    </div>
  </div>
</nav>