<script src="https://kit.fontawesome.com/1165876da6.js" crossorigin="anonymouse"></script>
<footer>
    <div class="row m-2 text-center ">
    <div class="container text-center  ">
       
        <div class="col-md-4 col-lg-4">
            <h1>contact us</h1>
            <p>email:ecotrend gmail.com</p>
            <p>phone:+121 555666666 </p>
            <p>adress:122 street elaroba,giza </p>
        </div>
        <div class="col-md-4 col-lg-4">
            <h1>quick links</h1>
            <ul class="list">
<li><a href= "">home</a> </li>
<li><a href= "">about</a> </li>
<li><a href= "">contact us</a> </li>
            </ul>
        </div>
        <div class="col-md-4 col-lg-4">
            <h1>follow us</h1>
            <p>Our products is expertly crafted using high quality materials to ensure durability and timeless appeal</p>
            
            <ul class="social-icon">
            <li><a href=""><i class= "fab fa-facebook"></i></a></li>
            <li><a href=""><i class= "fab fa-twitter"></i></a></li>
            <li><a href=""><i class= "fab fa-instagram"></i></a></li>
        </ul>
        </div>
    </div>
    
</div>
  </footer> 
   