

.container{
    height: 60vh;
}
.all-categories:hover{
    color: #EDAD09;
    transform: scale(1.5);
    transition: all ease-in-out 1s;
}
.all-categories{
    font-size: 60px;
    margin-top: 100px;

}
.parent{
    border: solid 3px goldenrod;
   
}
.parent h3{
    padding-bottom: 7px;
}
.parent:hover{
    border: solid 3px black;
    color: #EDAD09;
    cursor: pointer;
    transform: scale(1.1);
    transition: all ease-in-out .4s;
}